@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --button-card-name-price-color: rgba(38, 50, 56, 1);
    --cart-bg-gray: rgba(245, 245, 245, 1);
    --h1-color: #000;
    --regular-paragraph-color: rgba(143, 149, 165, 1);
    --number-color: rgba(42, 50, 70, 1);
    --pricing-date-color: rgba(84, 98, 105, 1);
    --all-font-family: 'Poppins', sans-serif;
    --logo-second-half: rgba(147, 147, 147, 1);
}
*{
    font-family: var(--all-font-family) !important;
    list-style: none !important;
    text-decoration: none !important;
}
/* changed properties */
.btn-outline-dark {
    --bs-btn-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-bg: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-border-color: rgba(38, 50, 56, 1) !important;
}

.btn-dark{
    --bs-btn-bg: rgba(38, 50, 56, 1) !important;
    --bs-btn-border-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-bg: rgb(31, 40, 45) !important;
    --bs-btn-hover-border-color: rgb(35, 45, 51) !important;  
}

.bg-body{
    background-color: rgba(245, 245, 245, 1);
}

.text-dark {
    color: rgba(38, 50, 56, 1) !important;
}

.text-secondary {
    color: rgba(245, 245, 245, 1) !important;
}

.text-secondary-emphasis{
    color: rgba(143, 149, 165, 1) !important;
}
/* changed properties */
ul a:hover {
    text-decoration: underline !important;
}

.logo-second{
    color: var(--logo-second-half);
}





