@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --button-card-name-price-color: rgba(38, 50, 56, 1);
    --cart-bg-gray: rgba(245, 245, 245, 1);
    --h1-color: #000;
    --regular-paragraph-color: rgba(143, 149, 165, 1);
    --number-color: rgba(42, 50, 70, 1);
    --pricing-date-color: rgba(84, 98, 105, 1);
    --all-font-family: 'Poppins', sans-serif;
    --logo-second-half: rgba(147, 147, 147, 1);
}
*{
    font-family: var(--all-font-family) !important;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
/* changed properties */
.btn-outline-dark {
    --bs-btn-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-bg: #fff !important;
    --bs-btn-border-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-bg: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-border-color: rgba(38, 50, 56, 1) !important;
}

.btn-dark{
    --bs-btn-bg: rgba(38, 50, 56, 1) !important;
    --bs-btn-border-color: rgba(38, 50, 56, 1) !important;
    --bs-btn-hover-bg: rgb(26, 34, 38) !important;
    --bs-btn-hover-border-color: rgb(35, 45, 51) !important;  
}

.bg-body{
    background-color: rgba(245, 245, 245, 1) !important;
}

.text-dark {
    color: rgba(38, 50, 56, 1) !important;
}

.text-secondary {
    color: rgba(245, 245, 245, 1) !important;
}

.text-secondary-emphasis{
    color: rgba(143, 149, 165, 1) !important;
}
/* changed properties */
ul a:hover {
    text-decoration: underline !important;
}

.logo-second{
    color: var(--logo-second-half);
}

@media (max-width: 768px) {
    .main-head-box {
        width: 100% !important;
    }
}

.navbar-toggler:focus {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.section-headers{
    font-size: 48px;
}
.my-font2{
    font-size: 36px;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}
.my-font1{
    font-size: 24px;
}

.cart-img-box{
    min-height: 12rem;
    background-image: url(/img/skills-writing.png);
    background-repeat: no-repeat;
    background-position: right;    
    background-size: contain;

}


.cart-speaking .cart-img-box{
    background-image: url(/img/skills-speaking.png);
    
}

.reading{
    background-position: left;    
    background-image: url(/img/skills-reading.png);
}

.listening-box .cart-img-box{
    background-image: url(/img/skill-listening.png);
}



@media (max-width: 1199px) {
    .my-font1 {
        font-size: 20px !important;
    }
    .section-headers{
        font-size: 36px;
    }
    .my-font2{
        font-size: 24px;
    }
    /* .main-h1{
        font-size: 40px !important;
    } */
}

@media (min-width: 767px){
    .speaking-cart{
        height: 100% !important;
    }
}
@media (max-width: 991px) {
    .my-font1 {
        font-size: 16px !important;
    }
    .section-headers{
        font-size: 30px;
    }
    .my-font2{
        font-size: 18px;
    }
    .main-h1{
        font-size: 36px !important;
    }
}

@media (max-width: 766px) {
    .card-body p{
        font-size: 12px !important;
    }
    .my-font1 {
        font-size: 14px !important;
    }
    .my-font2{
        font-size: 16px;
    }
    .card{
        height: 600px !important;
    }
    .cart-img-box{
        background-position: center;    
    
    }

}

@media (max-width: 574px){
    .my-font2{
        width: 100% !important;
    }
    .main-h1{
        font-size: 24px !important;
    }
} 



